<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MateFacil Demo</title>
</head>
<body>
    <h1>MateFacil Demo</h1>
    <h2>Purpose: Show Python Subprocesses in action</h2>
    <h3>SubProcess simple</h3>
    <a type="submit" href="/resSimp">Simple</a>
    
    <h3>SubProcess simple with C++</h3>
    <a type="submit" href="/resSimpCpp">Simple Cpp</a>
    
    <h3>SubProcess with text for C++</h3>
    <form action="/resCpp/" method="GET">
        <H5>Use the String</H5>
        Text: <input type="text" name="cppRes"/>
        <input type="submit" value="Accept" />
    </form>
    
    <h3>SubProcess with text for Java</h3>
    <form action="/resJav/" method="GET">
        <h5>Use the Numbers</h5>
        Num 1: <input type="text" name="javaRes1"/>
        Num 2: <input type="text" name="javaRes2"/>
        <input type="submit" value="Accept" />
    </form>
    
    <h3>SubProcess with text for C</h3>
    <form action="/resC/" method="GET">
        <input type="submit" value="Accept" />
    </form>
</form>