<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Index</title>
</head>
<body>
    <H2>SubProcess simple</H2>
    <a type="submit" href="/resSimp">Simple</a>
    <H2>SubProcess simple with C++</H2>
    <a type="submit" href="/resSimpCpp">Simple Cpp</a>
    <H2>SubProcess with text for C++</H2>
    <form action="/resCpp/" method="GET">
        <H5>Use the String</H5>
        Text: <input type="text" name="cppRes"/>
        <input type="submit" value="Accept" />
    </form>
    <H2>SubProcess with text for Java</H2>
    <form action="/resJav/" method="GET">
        <H5>Use the Numbers</H5>
        Num 1: <input type="text" name="javaRes1"/>
        Num 2: <input type="text" name="javaRes2"/>
        <input type="submit" value="Accept" />
    </form>
    <H2>SubProcess with text for C</H2>
    <form action="/resC/" method="GET">
        <input type="submit" value="Accept" />
    </form>
</form>